body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: 	#344b33;
    color: #fff;
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a, .btndesplegable {
    display: inline-block;
    color: rgb(0, 1, 2);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover, .f-desplegable:hover .btndesplegable{
    background-color: rgb(19, 127, 141);
    color: white;
}

.cont-desplegable{
    display: none;
    position: absolute;
    background-color: #f5f7f8;
    min-width: 200px;
    /*shadow*/
    box-shadow: 0px 8px 16px 0px rgba(36, 225, 231, 0.856);
    z-index: 1;
}

.f-desplegable:hover .cont-desplegable{
    display: block;
}

.cont-desplegable a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.cont-desplegable a:hover{
    background-color: #d8d6d6;
    color: rgb(3, 47, 68);
}

.navbar ul{
    list-style-type: none;
    background-color: #7f886e;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #344b33;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #535849;
}

.navbar li{
    float: left;
    text-align: center;
    color:#344b33;
}

h2{
    background-color: #344b33;
    color: white ;
    margin: 0;
    padding: 25px;
    text-align: left;
}

h3{
    background-color: #344b33;
    color: white ;
    margin: 0;
    padding: 25px;
    text-align: left;
}

.contact{
    background-color: #c5ae96;
    margin: 0;
    padding: 5px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.libro{
    background-color: #c5ae96;
    margin: 0;
    padding: 5px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}